<?xml version="1.0" encoding="utf-8" ?>
<databaseList xmlns="http://www.chemical.ai/DatabaseList">
  <database name="Query_AI">
    <connectionString> Server=192.168.0.140;database=ChemicalInfo_ALLFULL_1;user id=sa;Password=123456789 </connectionString>
    <providerName></providerName>
  </database>
  <database name="Action_AI">
    <connectionString> Server=192.168.0.140;database=ChemicalInfo_ALLFULL_1;user id=sa;Password=123456789 </connectionString>
    <providerName></providerName>
  </database>
</databaseList> 

