<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--签名加密密钥-->
  <setting key="signKey" value="wangb"></setting>
  <setting key="IsCheckSign" value="false"></setting>
  <setting key="IsLog" value="false"></setting>

  <!-- 默认产率-->
  <setting key="defaultYield" value="60"></setting>
  <!--要调整100-3000 100-->
  <setting key="minLaborCost" value="1600"></setting>
  <!--要调整1-3 0.1-->
  <setting key="laborCostModulus" value="1.5"></setting>
  <!--1g以下一步反应所需时间，为一周-->
  <setting key="minTime" value="1" ></setting>
  <!--每增加10倍需要乘以的系数1.2-->
  <setting key="timeModulus" value="1.1"></setting>
  <!--要调整100-3000 100-->
  <setting key="startCost" value="1000"></setting>

  <!--whmall数据库链接-->
  <setting key="Whmall" value="Server=122.224.5.210;Database=whmall;Uid=liuli;Pwd=liuliwhmall_alex;CharSet=utf8;Convert Zero Datetime=true;"></setting>
  <!--自动单步报价数据库连接-->
  <setting key="QuotePrice" value="Server=192.168.0.140;database=SingleStepSyntheticRoute;user id=sa;Password=123456789"></setting>
  <!--IMS数据库连接-->
  <setting key="IMS" value="Server=192.168.0.140;database=CloudWhmall;user id=sa;Password=123456789"></setting>
  <!--MSDS-->
  <setting key="MSDS" value="Data Source = 121.196.236.64; Initial Catalog = AldrichMSDS; User Id = sa; Password = whmall@buychem1909;"></setting>
  <!--ChemicalInfo_ALLFULL_New报价数据库连接-->
  <setting key="ChemicalInfo_ALLFULL_New" value="Server=192.168.0.140;database=ChemicalInfo_ALLFULL_New_temp;user id=sa;Password=123456789"></setting>
  <!--<setting key="ChemicalInfo_ALLFULL_New" value="Server=122.224.5.210;database=ChemicalInfo_05;user id=sa;Password=ZHXCuAT+yDnr5E5"></setting>-->

  <!--<setting key="ChemicalInfo_ALLFULL_New" value="Server=122.224.5.210;database=ChemicalInfo_03;user id=sa;Password=ZHXCuAT+yDnr5E5;"></setting>-->
</configuration>
