i.logo {
overflow: hidden;
display: inline-block;
height: 21px;
width: 171px;
background: url(../images/index_sprite.png) -0px -0px no-repeat;
}i.menu_icon {
overflow: hidden;
display: inline-block;
height: 15px;
width: 21px;
background: url(../images/index_sprite.png) -171px -0px no-repeat;
}i.up_arrow {
overflow: hidden;
display: inline-block;
height: 15px;
width: 25px;
background: url(../images/index_sprite.png) -192px -0px no-repeat;
}i.down_arrow {
overflow: hidden;
display: inline-block;
height: 15px;
width: 25px;
background: url(../images/index_sprite.png) -217px -0px no-repeat;
}i.user_icon {
overflow: hidden;
display: inline-block;
height: 13px;
width: 10px;
background: url(../images/index_sprite.png) -242px -0px no-repeat;
}i.add_user_icon {
overflow: hidden;
display: inline-block;
height: 12px;
width: 14px;
background: url(../images/index_sprite.png) -252px -0px no-repeat;
}